*{
	margin: 0px;
	padding: 0px;
}
.lf{
	float: left;
}
.lr{
	float: right;
}
/*与公共头部的分割*/
.div_top{
	height: 30px;
	background: #66756B;
}
/******************/
/*图片展示部分*/
.pic_big{
	/*border: 2px solid #E5E5E5;*/
	width: 300px;
	height: 300px;
}
.pic_big img{
	width: 300px;
	height: 300px;
}
/*正文展示部分*/
.title h4{
	font-weight: 500;
}
.bookInfo{
	width: 620px;
}
.jia_ge,.jian_jie{
	border: 2px solid #E5E5E5;
}
.jia_ge{
	color: #999999;
	font-size: 15px;
	line-height: 30px;
	background: #F3F0E9;
	margin-top: 10px;
}
#price{
	color: red;
	font-weight: 900;
	font-size: 20px;
	color: #8C222C;
}
#price_next{
	color: black;
	font-size: 16px;
	font-weight: 800;
}
.time_num span{
	color: #999999;
}
.time_num{
	background: white;
	border: 0px;
	margin-top: 20px;
}
#book_time{
	color: #000000;
	font-size: 16px;
}
#book_num{
	color: red;
	font-size: 13px;
}
/*图书内容介绍*/
.book_intro{
	margin-top: 20px;
}
.book_intro h4{
	font-weight: 800;
	font-size: 20px;
}
/*要购买的数量加减框*/
.shopNumber{
	margin-top: 10px;
}
.shopNumber input[type=button]{
	margin: 2px;
	width: 25px;
	height: 25px;
}
.shopNumber input[type=text]{
	width: 25px;
	height: 25px;
}

/*立即购买两个按钮*/
.div_buy{
	margin-top: 50px;
}
.div_buy button{
	width: 200px;
	height: 50px;
	margin-left: 50px;
}
.btn_buy_2 img{
	width: 20px;
	height: 20px;
}
.btn_buy_2{
	color: white;
	background: #8C222C;
}

/*清除边框塌陷*/
.div1:after {
	content: "";
	display: block;
	clear:both;
}
