body{
	height: 1400px;
}
.starter {
	padding:15px 15px;
	background-color: #F2F1EA;
}

.navbar-fixed-top {
	background-color: #AC2925;
	
}

.tip {
	background-color: #AC2925;
}

.sid-bar.list-group-item {
	border: 0px;
	border-radius: 3px;
	margin: 0 auto;
}

 #div1 {
 	width:900px; height:500px;
 	Position:absolute;
 	Left:0px;
    Right:0px;
 	margin:-20px auto;
	
}
.tp img{
	position:relative; 
	left:20px;
	bottom:-13px;
	width: 230px;
	height:90px;
}
.sosuo{	
    margin:0px auto;
}
.ss a{
	position:relative; 
	left: 95px;
	font-size: 10px;
	margin-left: 7px;
	color:#8C8C8C;
}
.ss a:hover{
	color:red;
}
.tj{
	font-size: 20px;
	margin:5px auto;
}
.gd{
	font-weight: 100;
	font-size: 15px;
}
.books img{
	width: 100px;
	height:150px;
	
}
.book_lb{
	margin:5px 0px;
}
.book_lb a:link{
	color: #000000;
}
.book_lb a:hover{
	color:red;
}
.books a{
	font-size: 12px ;
}
.books span{
	color: #526069;
	font-size: 10px ;
}
.book_lb p{
	color: red;
}
.jj{
	height: 35px;
}
.book_lb ul{
	 list-style:none;
}

.di ul a:link{
	text-decoration:none;
	color: #000000;
}
.content {
  padding-top:5px;
  height:80px;
  border:1px solid #ddd;
 
}

.di a:hover{
	text-decoration:underline;
	color: red;
}
.di_lj a{
	color:#9D9D9D;
	margin-left: 12px;
}
.xx1 p{
	font-size: 12px;
	margin-top: 10px;
}
.xx p{
	font-size: 12px;
}
