body{
	height: 700px;
}
.starter {
	padding:15px 15px;
	background-color: #F2F1EA;
}

.navbar-fixed-top {
	background-color: #AC2925;
	
}

.tip {
	background-color: #AC2925;
}

.sid-bar.list-group-item {
	border: 0px;
	border-radius: 3px;
	margin: 0 auto;
}
.tp img{
	position:relative; 
	left:20px;
	bottom:-13px;
	width: 230px;
	height:90px;
}
.sosuo{	
    margin:0px auto;
}
.ss a{
	position:relative; 
	left: 95px;
	font-size: 10px;
	margin-left: 7px;
	color:#8C8C8C;
}
