.di ul a:link{
	text-decoration:none;
	color: #000000;
}
.content {
  padding-top:5px;
  height:80px;
  border:1px solid #ddd;
 
}

.di a:hover{
	text-decoration:underline;
	color: red;
}
.di_lj a{
	color:#9D9D9D;
	margin-left: 12px;
}
.xx1 p{
	font-size: 12px;
	margin-top: 10px;
}
.xx p{
	font-size: 12px;
}
