* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}


.register-form {
	width: 500px;
	height: 300px;
	margin-left: 8%;
	color: #666666;
}

.from-head{
	width: 230px;
}
.register_title{
	float: left;
}

.login{
	float: right;
	margin-bottom: 20px;
}

input {
	width: 230px;
	padding: 5px;
}



input[type="checkbox"]{
	width: 15px;
}



.code-btn{
	 position: relative;
	 right: 75px;
	 z-index: 99;
 }


.checkbox {
	width: 230px;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
}


#submit{
	width: 230px;
	height: 30px;
	border: 0px;
	color: white;
	background: #8c222c;
	letter-spacing: 10px;
	border-radius: 3px;
	margin-top: 10px;
}


.triangle1 {
	display:inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0px 5px ;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	border-right: 7px solid darkred;
	border-left: 0 none;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}